extends layout

block content

    div(class="container my-24 px-6 mx-auto")

        section(class="mb-32 text-gray-800 text-center")
            div(class="flex flex-wrap justify-center")
                div(class="grow-0 shrink-0 basis-auto w-full lg:w-7/12 px-3")
                    div(class="mb-12")
                        h2(class="text-3xl font-bold mb-6") Welcome To #{env.APP_NAME}
                            p(class="text-gray-500 mb-6") Environment: #{env.APP_ENV}





